<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="css/style.css" />
  <body>
    <!-- header navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #6fc5f7"
      id="nav"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#nav">My Portfolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#link-1"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#link-2">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#link-3">Hard Skill</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#link-4">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#link-5">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- header End -->

    <!-- Home Page -->
    <section class="home text-center">
      <div class="About">
        <h1 id="link-1">ACHMAD DENI PUTRA BAKTI</h1>
        <p class="lead text-center">College Student | Ordinary Gamer</p>
        <a
          class="btn btn-dark"
          style="color: #f1f1f1"
          href="#link-2"
          role="button"
          >About Me</a
        >
      </div>
    </section>
    <!-- Homepage End -->

    <!-- About -->
    <section class="about">
      <div class="container">
        <div class="row align-items-start">
          <div class="col text-center">
            <img
              src="image/profile.jpg"
              alt="Photo"
              style="border-radius: 30px"
            />
          </div>
          <div class="col">
            <h2 id="link-2">ABOUT ME</h2>
            <p>
              Saya adalah seorang Mahasiswa Teknik Informatika yang berfokus
              pada Web Development. Pendidikan saya mencakup pengembangan web,
              UI/UX Design, dan Mobile Programming. Selama masa pendidikan, saya
              mendapatkan pemahaman mendalam tentang Front-end dan Back-end
              Programming yang telah mempersiapkan saya dengan berbagai
              keterampilan dan pengetahuan yang berguna dalam pengembangan
              Website.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About End -->

    <!-- Hard Skill -->
    <section class="Skill">
      <div id="skill">
        <h2 id="link-3" style="text-align: center">Hard Skill</h2>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div
              class="card"
              style="justify-content: center; padding: 30px 30px 30px 30px"
            >
              <img
                src="image/WebDev.jpg"
                class="card-img-top"
                alt="Classroom"
              />
              <div class="card-body">
                <h5 class="card-title">Web Development</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card"
              style="justify-content: center; padding: 30px 30px 50px 30px"
            >
              <img
                src="image/UIUX.jpg"
                class="card-img-top"
                alt="websederhana"
              />
              <div class="card-body">
                <h5 class="card-title">UI/UX Designer</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hardskill end -->

    <!-- Project Showcase -->
    <section class="Projects">
      <div id="projek">
        <h2 id="link-4" style="text-align: center">My Projects</h2>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="image/classroomkampus.png"
                class="card-img-top"
                alt="Classroom"
              />
              <div class="card-body">
                <h5 class="card-title">REMODEL CLASSROOM</h5>
                <p class="card-text">Tugas Remodel Aplikasi Classroom</p>
                <a
                  href="https://www.figma.com/proto/f8BHSKVHJJa44bHyeEtNBJ/classroom?type=design&node-id=315-1170&t=vuU7nwCWf7Ad5fkj-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=315%3A1170&mode=design"
                  class="btn btn-primary"
                  >Check Project</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="image/webkampus.png"
                class="card-img-top"
                alt="web kampus"
              />
              <div class="card-body">
                <h5 class="card-title">WEB KAMPUS</h5>
                <p class="card-text">Tugas Remodel Web kampus</p>
                <a
                  href="https://www.figma.com/proto/53kFtONrDtWRZmXGGpsNB7/Untitled?node-id=1-2&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A2&mode=design&t=lXg74saV2Ic8yeHN-1"
                  class="btn btn-primary"
                  >Check Project</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img
                src="image/websederhana.png"
                class="card-img-top"
                alt="websederhana"
              />
              <div class="card-body">
                <h5 class="card-title">WEB SEDERHANA</h5>
                <p class="card-text">Tugas membuat web Sederhana</p>
                <a href="#" class="btn btn-primary">Check Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Project End -->

    <!-- Contact Person -->
    <section class="CP">
      <div id="link-5" class="container">
        <h2 class="kontak" style="margin: 0">Contact Me</h2>
        <h3 style="margin-bottom: 20px">Leave Your Email Below</h3>
        <div class="email" style="padding-bottom: 5px">
          <label for="Input Email" class="form-Nama">Email :</label>
          <input
            type="text"
            class="form"
            id="exampleFormControlInput1"
            placeholder="Input Email"
          />
        </div>
        <div class="textarea" style="margin-bottom: 10px">
          <label for="pesan" class="form-label">Pesan</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="2"
          ></textarea>
        </div>
        <a
          class="btn btn-dark"
          style="color: #f1f1f1; margin-bottom: 30px;"
          href="#"
          role="button"
          >Kirim Pesan</a
        >
      </div>
    </section>
    <!-- footer -->
    <footer class="footer">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://instagram.com/achmaddeniii?utm_source=qr&igshid=OGU0MmVlOWVjOQ=="
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/AchmadDenii"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
      </div>
      <div
        class="text-center text-dark p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2023 Copyright:
        <p>Achmad Deni Putra Bakti</p>
      </div>
    </footer>
    <!-- footer end -->
  </body>
</html>

<!-- Link Projects -->
<!-- Sim Itats
   -->
<!-- Classroom
   -->
